// COLORS

$Dark-Violet: #2d2640;
$Grayish-Blue: #95a9c6;
$Very-Dark-Violet: #2b272f;
$Dark-Grayish-Violet: #372f3b;
$Very-Light-Gray: #fafafa;

// FONTS

$display:'DM Serif Display', serif;
$karla: 'Karla', sans-serif;

// padding
$padding:130px;
$padding-sm:25px;